[Gerrit SSH]
username = 
hostname = gerrit.git.wmflabs.org
port = 29418
timeout = 10

[Misc]
welcome_message_page = User:SSethi (WMF)/Sandbox/Gerrit newcomer bot text
newcomer_group = newcomers
auth_username = 
auth_password = 
base_url = https://gerrit.git.wmflabs.org/r/

[Twilio]
account_sid = 
auth_token = 
from_num = 
to_num = 